name: GitHub-Profile-Summary-Cards

on:
  schedule: # execute every Monday
    - cron: "* 18 * * 0"

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-summary-cards

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: vn7n24fzkq/github-profile-summary-cards@5055b27ac896c627043ead432f9b2fa973aa2c80 # v0.7.0
        env: # you should replace with your personal access token
          GITHUB_TOKEN: ${{ secrets.github_token }}
        with:
          USERNAME: ${{ github.repository_owner }}
